@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    color: rgb(238, 238, 238);
    background: rgb(26, 26, 26);
}


code {
    color: black;
    background-color: transparent;
    font-family: monospace;
}
