@media only screen and (max-width: 481px){
    #navbar {
        width: 100%;
    }

    #main-doc {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .code-containers{ 
        width: 320px;
    }

    ul, ol {
        padding-left: 80px;
        padding-top: 10px;
    }
}